@import "tailwindcss/components";

@layer components {
  .button-base {
    @apply flex
    justify-center
    items-center
    transform
    py-2
    px-4
    rounded-md
    text-sm
    font-medium
    whitespace-nowrap
    disabled:bg-gray-400
    disabled:text-gray-600
    disabled:shadow-none
    disabled:cursor-default
    disabled:transform-none;

    &:not(:disabled) {
      @apply focus:outline-none
      focus:-translate-y-px
      focus:shadow-md
      focus-visible:ring-2
      focus-visible:ring-offset-2
      active:translate-y-0
      active:shadow-inner
      hover:shadow-md
      hover:-translate-y-px;
    }
  }

  .button-primary {
    @apply bg-indigo-600
    text-white
    shadow-sm;

    &:not(:disabled) {
      @apply active:bg-indigo-700
    focus-visible:ring-indigo-500
    active:border-indigo-400;
    }
  }

  .button-secondary {
    @apply text-indigo-700
    bg-indigo-100;

    &:not(:disabled) {
      @apply hover:bg-indigo-200
      focus-visible:ring-indigo-500
      active:border-indigo-400;
    }
  }

  .button-tertiary {
    @apply border
    border-gray-300
    text-gray-700
    bg-white;

    &:not(:disabled) {
      @apply hover:bg-gray-50
    active:border-gray-700;
    }
  }

  .button-destructive-primary {
    @apply bg-red-500 
    text-white
    shadow-sm;

    &:not(:disabled) {
      @apply active:bg-red-700
    focus-visible:ring-red-500
    active:border-red-700;
    }
  }

  .button-destructive-secondary {
    @apply bg-red-100 
    text-red-700
    shadow-sm;

    &:not(:disabled) {
      @apply hover:bg-red-200
    focus-visible:ring-red-500
    active:border-red-400;
    }
  }
}
