@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./Button.css";

@layer components {
  .code-example {
    form {
      @apply space-y-4;
    }

    code {
      @apply text-sm;
    }
  }

  .todo-item {
    @apply border-2 p-4;

    > :not([type="hidden"]) + :not([type="hidden"]) {
      @apply mt-4;
    }
  }

  .overrides {
    code.hljs {
      margin: -11px -15px;
      border-radius: .375rem;
    }
  }
}
