@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 240deg 5% 96%;
      --foreground: 240deg 10% 3.9%;

      --card: 0deg 0% 100%;
      --card-foreground: 240deg 10% 3.9%;

      --popover: 0deg 0% 100%;
      --popover-foreground: 240deg 10% 3.9%;

      --primary: 240deg 5.9% 10%;
      --primary-foreground: 0deg 0% 98%;

      --secondary: 240deg 4.8% 95.9%;
      --secondary-foreground: 240deg 5.9% 10%;

      --muted: 240deg 4.8% 95.9%;
      --muted-foreground: 240deg 3.8% 46.1%;

      --accent: 240deg 4.8% 95.9%;
      --accent-foreground: 240deg 5.9% 10%;

      --destructive: 0deg 84.2% 60.2%;
      --destructive-foreground: 0deg 0% 98%;

      --border: 240deg 5.9% 90%;
      --input: 215deg 20% 65%;
      --ring: 240deg 10% 3.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240deg 6% 10%;
      --foreground: 0deg 0% 98%;

      --card: 240deg 10% 3.9%;
      --card-foreground: 0deg 0% 98%;

      --popover: 240deg 10% 3.9%;
      --popover-foreground: 0deg 0% 98%;

      --primary: 0deg 0% 98%;
      --primary-foreground: 240deg 5.9% 10%;

      --secondary: 240deg 3.7% 15.9%;
      --secondary-foreground: 0deg 0% 98%;

      --muted: 240deg 3.7% 15.9%;
      --muted-foreground: 240deg 5% 64.9%;

      --accent: 240deg 3.7% 15.9%;
      --accent-foreground: 0deg 0% 98%;

      --destructive: 0deg 62.8% 30.6%;
      --destructive-foreground: 0deg 0% 98%;

      --border: 240deg 3.7% 15.9%;
      --input: 240deg 4% 46%;
      --ring: 240deg 4.9% 83.9%;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }

    html.dark .shiki,
    html.dark .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }

  }